*{margin: 0; padding: 0;}
body {background-color: black;}

.title {
    margin: 20px 0 20px 5%;
    font-size: 16pt;
    color: white;
    font-family: Monospace;
}

.progress {
    margin: auto;
    width: 90%;
}

.table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    margin-left: 25px;
}

.table div {
    margin: 2px;
}

.small {
    width: 468px;
}

.big {
    width: 624px;
}

.item {
    width: 48px;
    height: 48px;
    background-size: 48px;
}

.done {
    opacity: 0.1;
}